| #{t('campaignsCreate_title')}
|

| #{t('campaignsCreate_subTitle_part_1')} #{name} #{t('campaignsCreate_subTitle_part_2')}
|

| * #{t('campaignsCreate_student')}: #{studentCnt} #{t('campaignsCreate_student_bottom')}
| * #{t('campaignsCreate_start')}: #{start}
| * #{t('campaignsCreate_end')}: #{end}
|

| #{t('footer_link_raw')}
